<div id="home-index">
	<header>
		<h1>Trickle™</h1>
		<p>Using NFC technology to communicate better with your customers.</p>
		<%= link_to "Sign up", new_admin_registration_path, class: "btn btn-md btn-primary" %>
	</header>
</div>