<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div id="users-pages-index">
				<header>
					<h2><%= @campaign.title %></h2>
					<p><%= @campaign.description %></p>
				</header>
				
				<div class="users-pages-wrapper">
					<%= render "pages_links" %>
				</div>
			</div>
		</div>
	</div>
</div>