// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-index {
	background-color: #0275d8;
	height: 425px;
	header {
		text-align: center;
		padding-top: 150px;
		h1, p {
			color: #fff;
		}
	}
}