// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#users-pages-index {
	header {
		text-align: center;
		margin-top: 25px;
	}
	.users-pages-wrapper {
		.page-item-no-background {
			margin-top: 5px;
			.btn {
				width: 100%;
				padding: 51.5px !important; // Matching padding 50 on background images, weird css stuff.
			}
		}
		#page-item-background-button {
			margin-top: 5px;
			border-radius: .3rem;
			text-align: center;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			a {
				display: block;
				color: #fff;
				text-decoration: none;
				padding: 50px;
				font-size: 1.25rem;
			}
		}
	}
}

#users-page-show {
	margin-top: 25px;
}