<% if alert %>
	<div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 25px;">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	  <strong>Ups!</strong> <%= flash[:alert] %>
	</div>
<% elsif notice %>
	<div class="alert alert-success alert-dismissible fade show" role="alert">
  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    	<span aria-hidden="true">&times;</span>
  	</button>
  	<strong>Success!</strong> <%= flash[:notice] %>
	</div>
<% end %>